/* Font and style settings */
p{
	font-family: 'Raleway', sans-serif;

}


.hr{
	width: 400px;
	top-border: 2px solid black;
}
h1{
	font-family: 'Raleway', sans-serif;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-size: 26pt;
	line-height: 40px;
	font-style: italic;

}
h3{
	font-family: 'Raleway', sans-serif;
	font-size: 24pt;
	line-height: 40px;
	text-align:right;
	font-weight: 300;
	
}

/*Navigation Bar*/
.nav-top{
	padding-top: 50px;

}
.nav-top, ul{
	font-family: 'Raleway', sans-serif;

	list-style: none;
	text-align: right;
	padding-right: 50px;


}

.nav-top li{
width: 200px;
padding-top: 25px;
padding-bottom: 25px;
float:right;
text-align: center;
background-color: #d1d2d2;
font-size: 16pt;

}

.nav-top li:hover{
	cursor: pointer;
	background-color: #002fad;
	color: white;

}



/*images and text stylings*/
}
.masthead-img{

}

.left-aside-image{
	height: 400px;
	float: left;
	padding-left: 25px;
	 box-shadow: 5px 5px #e8e8e8;
}
.right-aside-text{
	margin-right: 50px;
	background-color: #e8e8e8; 
	border-radius: 15px 50px;
	padding: 25px;
	float: right;	
	text-align: center;
}



/*Layout*/
.padding-50{
	padding-top: 50px;
}